<!-- <p>github-form works!</p> -->

<form class="form-inline"(ngSubmit)='submitUser()' #searchForm='ngForm'>
        <div class="form-group">
                <label for="name">Search agithub profile:</label>
    <input type="text" id="username"[(ngModel)]="newUser.name" name="enter your username" placeholder="enter your username">
    <button type="submit" class="btn btn-success"><search></button>
    </div>
    <button type="submit" class="btn btn-success" > 🔍 SEARCH</button>
    <div class="alert-danger" [hidden]="name.valid || name.pristine">
        <p>Name is required</p>
      </div>
</form>
